<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LaserGRBL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LaserGRBL.Properties.Settings>
            <setting name="language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="locationMForm" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="locationSerForm1" serializeAs="String">
                <value>0, 50</value>
            </setting>
            <setting name="locationSerForm2" serializeAs="String">
                <value>300, 50</value>
            </setting>
            <setting name="locationCamForm" serializeAs="String">
                <value>50, 150</value>
            </setting>
            <setting name="location2ndGRBLForm" serializeAs="String">
                <value>100, 200</value>
            </setting>
            <setting name="locationTextForm" serializeAs="String">
                <value>50, 300</value>
            </setting>
            <setting name="locationImageForm" serializeAs="String">
                <value>100, 350</value>
            </setting>
            <setting name="locationShapeForm" serializeAs="String">
                <value>150, 400</value>
            </setting>
            <setting name="locationSetForm" serializeAs="String">
                <value>200, 150</value>
            </setting>
            <setting name="locationStreamForm" serializeAs="String">
                <value>50, 200</value>
            </setting>
            <setting name="serialPort1" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="serialBaud1" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="serialPort2" serializeAs="String">
                <value>COM2</value>
            </setting>
            <setting name="serialBaud2" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="serialMinimize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="file" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="custom1" serializeAs="String">
                <value>Set new coord|G43.1 Z-31.628 ; G92 X140 Y0 Z32</value>
            </setting>
            <setting name="custom2" serializeAs="String">
                <value>Move to 0;0;0|G90 G0 X0 Y0 Z0</value>
            </setting>
            <setting name="custom3" serializeAs="String">
                <value>Tray Out|G91 G53 G0 Z-1;G90 G53 G0 Y-5</value>
            </setting>
            <setting name="custom4" serializeAs="String">
                <value>Tray In|G90 G53 G0 Y-160</value>
            </setting>
            <setting name="custom5" serializeAs="String">
                <value>Set Pen 1|T1 M06;</value>
            </setting>
            <setting name="custom6" serializeAs="String">
                <value>Pen take|_misc\script_pen2_select.nc</value>
            </setting>
            <setting name="custom7" serializeAs="String">
                <value>Pen remove|_misc\script_pen2_remove.nc</value>
            </setting>
            <setting name="custom8" serializeAs="String">
                <value />
            </setting>
            <setting name="cameraindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="camerarotation" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="camerascalingTop" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="camerascalingBot" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="cameraTeachRadiusTop" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="cameraTeachRadiusBot" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="cameraPosTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cameraPosBot" serializeAs="String">
                <value>-50</value>
            </setting>
            <setting name="cameraToolOffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cameraToolOffsetY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastOffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastOffsetY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastOffsetZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="colorBackground" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="colorRuler" serializeAs="String">
                <value>0, 0, 192</value>
            </setting>
            <setting name="colorPenUp" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="colorPenDown" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="colorTool" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="colorMarker" serializeAs="String">
                <value>DeepPink</value>
            </setting>
            <setting name="widthRuler" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="widthPenUp" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="widthPenDown" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="widthTool" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="widthMarker" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="textFontIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="textFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="importGCZUp" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="importGCZDown" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="importGCZFeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="importGCSSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="textFontText" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="importGCZEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCSpindleToggle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="importGCAddComments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCXYFeed" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="importGCHeader" serializeAs="String">
                <value>G54; </value>
            </setting>
            <setting name="importGCFooter" serializeAs="String">
                <value>M30</value>
            </setting>
            <setting name="importGCPWMEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCPWMUp" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="importGCPWMDown" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="importGCPWMDlyUp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="importGCPWMDlyDown" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="importSVGBezier" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="importSVGRezise" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importSVGMaxSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="importSVGAddComments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importSVGReduce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importSVGReduceLimit" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="importSVGPauseElement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importSVGPausePenDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importSVGPathExtend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="importSVGToolUse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCTool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ctrlToolChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ctrlToolScriptGet" serializeAs="String">
                <value>_misc\script_pen_pickup.nc</value>
            </setting>
            <setting name="useSerial2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ctrlToolScriptPut" serializeAs="String">
                <value>_misc\script_pen_remove.nc</value>
            </setting>
            <setting name="ctrlToolScriptSelect" serializeAs="String">
                <value>_misc\script_pen_select.nc</value>
            </setting>
            <setting name="importSVGToolSort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ctrlToolScriptProbe" serializeAs="String">
                <value>_misc\script_probing_tool.nc</value>
            </setting>
            <setting name="importPalette" serializeAs="String">
                <value>_misc\Stabilo_by_PN.gpl</value>
            </setting>
            <setting name="importGCDecPlaces" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="importGCSpindleCmd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ctrlLaserMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ctrlReplaceEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ctrlReplaceM3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="joyXYStep1" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="joyXYStep2" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="joyXYStep3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="joyXYStep4" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="joyXYStep5" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="joyXYSpeed1" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="joyXYSpeed2" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="joyXYSpeed3" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="joyXYSpeed4" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="joyXYSpeed5" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="joyZStep1" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="joyZStep2" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="joyZStep3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="joyZStep4" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="joyZStep5" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="joyZSpeed1" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="joyZSpeed2" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="joyZSpeed3" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="joyZSpeed4" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="joyZSpeed5" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="overrideFRTop" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="overrideFRBtm" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="overrideFRValue" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="overrideSSTop" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="overrideSSBtm" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="overrideSSValue" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="toolDiameter" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="toolZStep" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="toolFeedXY" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="toolFeedZ" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="toolOverlap" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="toolSpindleSpeed" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="shapeX" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="shapeY" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="shapeR" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="shapeType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="toolPath" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="shapeOrigin" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="cameraColorText" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="cameraColorCross" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="rotarySubstitutionScale" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="rotarySubstitutionEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rotarySubstitutionX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rotarySubstitutionDiameter" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="rotarySubstitutionSetupEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rotarySubstitutionSetupOn" serializeAs="String">
                <value>$100=4.444;$110=10000;$120=1000</value>
            </setting>
            <setting name="rotarySubstitutionSetupOff" serializeAs="String">
                <value>$100=1600;$110=1000;$120=50</value>
            </setting>
            <setting name="importGCZIncEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCZIncrement" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="importGCCompress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImportDXFSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="importGCRelative" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCNoArcs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCSegment" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="widthHeightMap" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="colorHeightMap" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="heightMapX1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="heightMapY1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="heightMapX2" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="heightMapY2" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="heightMapDeltaX" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="heightMapDeltaY" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="heightMapGridX" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="heightMapGridY" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="heightMapProbeDepth" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="heightMapProbeHeight" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="heightMapProbeSpeed" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="locationHeightForm" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="importGCIndEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCIndPenUp" serializeAs="String">
                <value>(Pen Up command);(Cmd2)</value>
            </setting>
            <setting name="importGCIndPenDown" serializeAs="String">
                <value>(Pen Down command);(Cmd2)</value>
            </setting>
            <setting name="importSVGNodesOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ctrl4thName" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="ctrl4thUse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastOffsetA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="guiCheckUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ctrlCommentOut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="importUnitmm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gPButtons0" serializeAs="String">
                <value>#Start (Start streaming)</value>
            </setting>
            <setting name="gPButtons1" serializeAs="String">
                <value>#F+10 (Feedrate +10%)</value>
            </setting>
            <setting name="gPButtons2" serializeAs="String">
                <value>#F100 (Feedrate =100%)</value>
            </setting>
            <setting name="gPButtons3" serializeAs="String">
                <value>#F-10 (Feedrate -10%)</value>
            </setting>
            <setting name="gPButtons4" serializeAs="String">
                <value>G92 X0 (Zero X)</value>
            </setting>
            <setting name="gPButtons5" serializeAs="String">
                <value>G92 Z0 (Zero Z)</value>
            </setting>
            <setting name="gPButtons6" serializeAs="String">
                <value>G92 Y0 (Zero Y)</value>
            </setting>
            <setting name="gPButtons7" serializeAs="String">
                <value>G92 X0 Y0 Z0 (Zero all)</value>
            </setting>
            <setting name="gPButtons8" serializeAs="String">
                <value>$H (Homing)</value>
            </setting>
            <setting name="gPButtons9" serializeAs="String">
                <value>#Start (Start streaming)</value>
            </setting>
            <setting name="gPButtons10" serializeAs="String">
                <value>G92 X0 Y0 (Zero X and Y)</value>
            </setting>
            <setting name="gPButtons11" serializeAs="String">
                <value />
            </setting>
            <setting name="gPButtons12" serializeAs="String">
                <value />
            </setting>
            <setting name="gPButtons13" serializeAs="String">
                <value />
            </setting>
            <setting name="gPButtons14" serializeAs="String">
                <value />
            </setting>
            <setting name="gPButtons15" serializeAs="String">
                <value />
            </setting>
            <setting name="gPXAxis" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="gPYAxis" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="gPZAxis" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="gPRAxis" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="gPXInvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gPYInvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gPZInvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gPRInvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gPEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="camFilterRed1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="camFilterRed2" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="camFilterGreen1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="camFilterGreen2" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="camFilterBlue1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="camFilterBlue2" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="camShapeCircle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="camShapeRect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="camShapeSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="camShapeDist" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="camShapeDistMax" serializeAs="String">
                <value>0.03</value>
            </setting>
            <setting name="camShapeSizeMin" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="camShapeSizeMax" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="camFilterOutside" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="camShapeSet1" serializeAs="String">
                <value>Paper|0|100|0|100|0|100|True|True|True|20|200|0.5|1|</value>
            </setting>
            <setting name="camShapeSet2" serializeAs="String">
                <value>PCB|0|150|0|150|0|150|False|False|True|20|100|0.5|1|</value>
            </setting>
            <setting name="camShapeSet3" serializeAs="String">
                <value>Wood|0|106|0|237|123|246|True|True|False|10|100|0.5|2.0|</value>
            </setting>
            <setting name="camShapeSet4" serializeAs="String">
                <value />
            </setting>
            <setting name="importUnitGCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastOffsetCoord" serializeAs="String">
                <value>54</value>
            </setting>
            <setting name="importSVGRepeatEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importSVGRepeat" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="importGCToolM0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="toolOffX" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="toolOffY" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="toolOffZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="importGCSubEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCSubroutine" serializeAs="String">
                <value>_misc\subroutine.nc</value>
            </setting>
            <setting name="importGCLineSegmentation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCLineSegmentLength" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="importGCLineSegmentEquidistant" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCDragKnifeEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCDragKnifeLength" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ctrlToolChangeEmpty" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ctrlToolChangeEmptyNr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="importGCToolDefNr" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="importGCToolUseRouter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCDragKnifeAngle" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="importDXFToolIndex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCTTSSpeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCTTXYFeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCTTZFeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCTTZDeepth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="machineLimitsShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="machineLimitsAlarm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="machineLimitsRangeX" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="machineLimitsRangeY" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="machineLimitsRangeZ" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="machineLimitsHomeX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="machineLimitsHomeY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="machineLimitsHomeZ" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="colorMachineLimit" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="guiBackgroundImageEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="serialPortDIY" serializeAs="String">
                <value>COM9</value>
            </setting>
            <setting name="serialBaudDIY" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="useSerialDIY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="feedbackDIY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="importGCSubFirst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCDragKnifePercentEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCDragKnifePercent" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="importImageWidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="importImageHeight" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="importImageReso" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="importImageKeepRatio" serializeAs="String">
                <value>True</value>
            </setting>
        </LaserGRBL.Properties.Settings>
    </userSettings>
</configuration>